.chat-body {
  padding: 0;
}

.chat-body .header,
.chat-body .sttus-bar {
  padding: 0px 20px;
  z-index: 1;
}
.chat-body .header {
  padding-top: 40px;
  padding-bottom: 5px;
}

.header .header__number {
  font-size: 25px;
}

.chat-screen {
  background-image: url("../img/chatBg.png");

  /* chat 클래스의 viewport(스크린)의 100% 높이를 준다. */
  min-height: 100vh;
}

.chat-screen,
.chat__write {
  color: #26282d;
}

.chat-screen .chat__messages {
  margin-top: 85px;
}

/* input이 icon 앞에 있으면 input에 이벤트가 발생 했을 때 icon을 숨길(transition) 수 있음 */
.chat__write-container {
  position: fixed;
  bottom: 0;
  width: 100%;

  /* fixed 가운데 정렬 */
  margin: 0 auto;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat__icon-left {
  position: absolute;
  color: #26282d;
  left: 10px;
}

.chat__icon-right {
  position: absolute;
  color: #26282d;
  right: 10px;
}

@keyframes float {
  0% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0 30px 60px -60px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}

.chat__write {
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
  border-radius: 0;
  padding: 20px 60px;
  width: 100%;
  border: none;
  font-size: 14px;
  background-image: linear-gradient(
    to left,
    #fff9db,
    #ffe066,
    #ffec99,
    #fff3bf,
    #fff9db
  );
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

/* 에니메이션을 넣을 곳 */
.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-50px);
  border-radius: 40px;
  animation: float 3s linear infinite forwards;
}

.chat__icon {
  font-size: 22px;
  transition: opacity ease-in-out 0.3s;
}

/* ~ 표시는 .chat__write(input) 클래스 다음에 있는 sibling을 선택 */
.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat-screen .chat__messages {
  padding-top: 30px;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat__messages .chat__timestamp {
  margin-top: 10px;
  background-color: #fff9db;
  opacity: 0.5;
  border-radius: 10px;
  font-size: 12px;
  padding: 5px 20px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}

.message {
  display: flex;
  align-items: flex-start;
}

.message .message__timestamp {
  margin: 0px 10px;
  font-size: 12px;
  opacity: 0.5;
}

.incoming-message .message__timestamp {
  transform: translateY(45px);
}

.sent-message .message__timestamp {
  transform: translateY(15px);
}

.incoming-message {
  /* 왼쪽 정렬 */
  align-self: flex-start;
  margin-bottom: 20px;
}

.sent-message {
  /* 오른쪽 정렬 */
  align-self: flex-end;
  margin-bottom: 20px;
}

.incoming-message .message__author {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

.incoming-message img {
  width: 50px;
  background-color: #fff9db;
  border-radius: 38%;
  margin-right: 15px;
  animation: spin 2s linear infinite;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}

.message .message__bubble {
  background-color: #fff9db;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 20px;
  display: block;
}

.incoming-message .message__bubble {
  border-top-left-radius: 2%;
}

.sent-message .message__bubble {
  border-top-right-radius: 2%;
}

@keyframes incomingAnim {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

/* forwards는  끝까지 요소가 마지막 value를 유지하는 것*/
.incoming-message {
  animation: incomingAnim 0.5s ease-out forwards;
}

@keyframes sentAnim {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.sent-message {
  animation: sentAnim 0.5s ease-out forwards;
}
